@{
	Layout = null;
}

<!DOCTYPE html>
<head>
	<title>S'enregistrer</title>
</head>
<body>
	<h2>S'enregstrer</h2>
	<form method="post" asp-action="Register">
		<label for="username">Nom d'utilisateur</label>
		<input type="text" id="username" name="username" required>
		<br />
		<label for="password">Mot de passe</label>
		<input type="password" id="password" name="password" required>
		<br />
		<button type="submit">Valider</button>
	</form>
</body>
</html>